<header class="navbar">
    <div class="nav-container container">
        <a href="/" class="logo">{{siteTitle}}</a>

        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/pdf">Library</a>
            <a href="/add-pdf">Add PDF</a>
        </nav>
    </div>
</header>
