<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{> nav}}      
  {{{body}}}      <!-- Page content gets injected here -->
  {{> footer}}   
</body>
</html>